@font-face {
    font-family: Unna;
    src: url('fonts/Unna/Unna-Regular.ttf');
}

@font-face {
    font-family: Unna;
    src: url('fonts/Unna/Unna-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Unna;
    src: url('fonts/Unna/Unna-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Unna;
    src: url('fonts/Unna/Unna-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}


.body {
    background-color: #bbb;
}

.body .editorial {
    font-family: Unna,Georgia,Cambria,"Times New Roman",Times,serif,sans-serif;
    font-size: 20px;
    max-width: 998px;
}

.body .editorial p {
    text-align: justify;
}

.body .editorial .illus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body .editorial pre {
    background-color: #f4f4f4;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    padding: .8em;
    /* margin-top: 2px; */
    margin-bottom: 12px;
}

.body .editorial .editorial-section {
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    padding: 1.5rem 1rem .8rem 1rem;
    background-color: white;
}

.body .editorial .theorem { background-color: #ddffdd; }
.body .editorial .remarks { background-color: #ddddff; }
.body .editorial .task    { background-color: #ffdddd; }
.body .editorial .caution { background-color: #ffffdd; }
.body .editorial .proof   { background-color: #eeeeee; }
.body .editorial .answer  { background-color: #eeeeee; }
.body .editorial .code    { background-color: #f4f4f4; }

.body .editorial .code pre {
    border: none;
    padding: 0;
}

.body .editorial .theorem,
.body .editorial .remarks,
.body .editorial .task,
.body .editorial .caution,
.body .editorial .proof,
.body .editorial .answer,
.body .editorial .code {
    padding: 1rem 1.25rem 0 1.25rem;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.body .editorial details.theorem,
.body .editorial details.remarks,
.body .editorial details.task,
.body .editorial details.caution,
.body .editorial details.proof,
.body .editorial details.answer,
.body .editorial details.code {
    padding-bottom: 1rem;
}

.body .editorial details[open].code {
    padding-bottom: 0;
}

.body .editorial details.code pre {
    margin-bottom: 0;
}

.body .editorial details.theorem > summary,
.body .editorial details.remarks > summary,
.body .editorial details.task    > summary,
.body .editorial details.caution > summary,
.body .editorial details.proof   > summary,
.body .editorial details.answer  > summary,
.body .editorial details.code    > summary {
    margin: 0;
}

.body .editorial details[open].theorem > summary,
.body .editorial details[open].remarks > summary,
.body .editorial details[open].task    > summary,
.body .editorial details[open].caution > summary,
.body .editorial details[open].proof   > summary,
.body .editorial details[open].answer  > summary,
.body .editorial details[open].code    > summary {
    margin-bottom: .75rem;
}

.center-p > p {
    text-align: center;
}

.body .editorial a {
    color: #3366CC;
    text-decoration: none;
}

.body .editorial a:visited {
    color: #666699;
}


.definition {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
